.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-left: -30px;
  margin-top: -30px;
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  height: 90px;

  color: getColor('border-clients');
  fill: currentColor;

  border: 1px solid getColor('border-clients');
  border-radius: 4px;

  transition: color 250ms $timing-function,
  background-color 250ms $timing-function,
  border 250ms $timing-function;

  &:hover,
  &:focus {
  background-color: getColor('primary');
  color: getColor('accent');
  border: 1px solid getColor('accent');}

}