.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__section-title {
  margin-bottom: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 15px);
  margin-top: calc(-1 * 15px);
}

.clients__item {
  flex-basis: calc((100% - 30px)/2);
  margin-left: 15px;
  margin-top: 15px;
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;

  color: getColor('border-clients');
  fill: currentColor;

  border: 1px solid getColor('border-clients');
  border-radius: 4px;

  transition: color 250ms $timing-function,
  background-color 250ms $timing-function,
  border 250ms $timing-function;

  &:hover,
  &:focus {
  background-color: getColor('primary');
  color: getColor('accent');
  border: 1px solid getColor('accent');
}
}