.features {
  padding: 60px 0;
}

.features__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  & img {
    display: block;
    max-width: 100%;
  }
}

.features__items {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0px;
  }

}

.features__content {
  text-align: center;
  padding: 25px 0;
  margin-bottom: 30px;

  background-color: getColor('background-family');
}

.features__text {
  margin-top: 10px;

  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: getColor('grey');
}