.page-footer {
  background-color: getColor('background-footer');
  padding: 60px 0;
}

.page-footer__container {

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.page-footer__wrapper {
  margin-bottom: 60px;

  @media screen and (min-width: 768px){
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px){
    margin-bottom: 0;
  }
}

.page-address {
  text-align: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: getColor('primary');
}

.page-address__items:not(:last-child) {
  margin-bottom: 9px;
}

.page-address__link {
  display: inline-block;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: getColor('primary');

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
  color: getColor('accent');
}
}

.page-address__contacts {
  color: getColor('footer-input-placeholder');
}

/* --- ПРИСОЕДИНЯЙТЕСЬ --- */

.join__title {
  margin-bottom: 20px;
  color: getColor('primary');
}


.join__items:not(:last-child) {
  margin-right: 10px;
}

.join .social-card__link {
  background-color: getColor('background-social-footer');
  color: getColor('primary');

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
  background-color: getColor('accent');
}
}

/* --- SIGN --- */

.sign {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px){
    display: flex;;
  }

  @media screen and (min-width: 1200px){
    flex-direction: row;
    margin-left: auto;
    margin: 0;
    text-align: start;
    align-items: flex-end;
  }
}

.sign__title {
  display: block;
  color: getColor('primary');
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}



.sign__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: getColor('grey');

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 20px auto 0px;
    min-width: 450px;
  }

  @media screen and (min-width: 1200px){
    width: 358px;
  }
}

.sign__input {
  width: 100%;
  padding: 16px 15px;

  margin-bottom: 20px;

  color: getColor('primary');
  background-color: getColor('background-footer');
  border: 1px solid getColor('footer-input-placeholder');
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 450px;
  }

  @media screen and (min-width: 1200px){
    margin-bottom: 0;
  }

}

.sign__input:placeholder-shown {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: getColor('footer-input-placeholder');
}

.sign__btn {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  border-radius: 4px;
  color: getColor('primary');
  background-color: getColor('accent');

  @media screen and (min-width: 1200px){
    margin-left: 12px;
  }
}

.sign__icon {
  margin-left: 10px;
}